.list-message {
  height: calc(100vh - 150px);
  overflow: auto;
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;

  ul,
  ol {
    margin-left: 2.3rem;

    &::marker {
      margin-right: 1rem;
    }
  }

  a {
    color: #722ed1;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      color: #531dab;
    }
  }

  .ai-typing-bubble {
    display: inline-flex;
    align-items: center;
    padding: 16px 12px;
    border-radius: 20px;
    background-color: rgba(240, 240, 240, 0.8);
    max-width: 120px;
    min-width: 50px;
    justify-content: center;
    gap: 2px;

    .dot {
      width: 8px;
      height: 8px;
      background-color: #2726268d;
      border-radius: 50%;
      animation: blink 1.4s infinite both;
    }

    .dot:nth-child(1) {
      animation-delay: 0s;
    }
    .dot:nth-child(2) {
      animation-delay: 0.2s;
    }
    .dot:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  @keyframes blink {
    0%,
    80%,
    100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
}
